main { padding: 5px 20%; }

main .module {
  display: inline-block;
  background: linear-gradient(165deg, var(--contrast), var(--light-cont));
  width: 100%;
  
  margin: 1.5% 0;
  
  border: 3px solid var(--light-cont);
  border-radius: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  font-size: 0;
}

main .module:hover  { border: 3px solid var(--contrast); }
main .module:active { border: 3px solid var(--accent); }

main .module .grammar, main .module .lesson {
  display: inline-block;
  vertical-align: middle;
  
  background: transparent;
  border: 0;
  outline: 0;
  
  text-align: center;
  color: var(--white);
  margin: 0;
  padding: 0;
}

main .module .grammar {
  width: 15%;
  aspect-ratio: 1/1;
  
  font-size: 50px;
  border-right: 3px dashed var(--light-cont);
}

main .module .lesson {
  width: 85%;
  padding: 0 20px;
  
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  
  text-align: left;
  font-size: 0;
}

main .module .lesson .name, main .module .lesson .level {
  display: inline-block;
  vertical-align: middle;
}

main .module .lesson .name {
  width: 70%;
  font-weight: 550;
  font-size: 24px;
}

main .module .lesson .level {
  width: 30%;
  color: var(--accent);
  
  font-size: 18px;
  font-variant: small-caps;
  font-weight: 550;
  
  text-align: right;
}

main .module .lesson .description { font-size: 18px; }

main .module .completion {
  width: 100%;
  padding: 10px;
  
  font-size: 0;
  border-top: 3px solid var(--light-cont);
}

main .completion .indicator {
  display: inline-block;
  background: var(--contrast);
  vertical-align: middle;
  
  border-radius: 5px;
  padding: 8px;
  margin: 0 0.5%;
  font-size: 10px;
}

main .highlight { background: var(--accent) !important; }

@media screen and (max-width: 600px) {
  main .module .grammar { width: 25%; }
  main .module .lesson  { width: 75%; }
}

@media screen and (max-width: 900px) {
  main { padding: 0 8%; }
}

@media screen and (max-width: 600px) {
  main { padding: 0 5%; }
  main .unit .left { 
    width: 22%;
    font-size: 45px;
  }
  
  main .unit .right {
    width: 78%;
    padding: 10px 20px 10px 0;
  }
}