body { overflow: hidden; }

header { height: 12%; }

header .language-flag, header .progress-bar, header .progress-count {
  display: inline-block;
  vertical-align: middle;
}

header .language-flag { width: 94px; }

header .language-flag svg { 
  width: 82px;
  height: 66px;
}

header .progress-bar {
  background: linear-gradient(165deg, var(--contrast), var(--light-cont));
  border: 1px solid var(--light-cont);
  
  width: calc(93% - 94px);
  height: 30px;
  padding: 3.5px;
  
  border-radius: 20px;
}

header .progress-inside {
  display: block;
  background: var(--accent);
  z-index: -1;
  
  width: 0%;
  height: 100%;
  
  border-radius: 20px;
  transition: width 1000ms;
}

header .progress-inside {
  display: block;
  background: var(--accent);
  z-index: -1;
  
  width: 0%;
  height: 100%;
  
  border-radius: 20px;
  transition: width 1000ms;
}

header .progress-count { width: 7%; }

header .progress-count p {
  color: var(--white);
  
  font-size: 20px;
  font-weight: bold;
}

main { 
  width: 100%;
  height: 76%;

  padding: 0 20%;
}

main .section { 
  display: none;
  width: 100%;
}

main .section > * {  
  margin: 1.5% 0;
  user-select: none;
}

main .heading {
  font-size: 28px;
  font-weight: bold;
  color: var(--white);
}

main .section .div-border {
  padding: 10px;
  border: 3px solid var(--contrast);
  border-radius: 10px;
}

main .section .btn-container {
  padding: 0 10%;
  text-align: center;
}

main .section .btn-container .answer-btn {
  width: 100%;
  height: 80px;
  margin: 5px 0;
}

main .section .btn-container .answer-btn:active {
  height: 77px;
  margin: 8px 0 5px;
}

.button {
  display: inline-flex;
  
  justify-content: center;
  align-items: center;
  
  vertical-align: bottom;
  
  user-select: none;
  cursor: pointer;
  
  border: 3px solid var(--contrast);
  border-bottom: 6px solid var(--contrast);
  border-radius: 10px;
  
  text-align: center;
  
  color: var(--white);
  font-size: 20px;
}

.button:hover {
  border: 3px solid var(--accent);
  border-bottom: 6px solid var(--accent);
}

.button:active { border: 3px solid var(--accent); }

main .insert-buttons .button {
  aspect-ratio: 1/1;
  width: 50px;
  
  font-weight: bold;
}

main .alert {
  display: block;
  width: 100%;
  
  background: linear-gradient(165deg, var(--contrast), var(--light-cont));
  border-top: 5px solid var(--light-cont);
  
  position: absolute;
  left: 0;
  bottom: -250px;
  
  text-align: left;
  padding: 25px;
  
  font-size: 0;
  
  transition: bottom 350ms ease-in;
}

main .block { bottom: 0; }

main .alert .text, main .alert .button-ctn {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

main .alert .text { width: 70%; }
main .alert .button-ctn { 
  width: 30%;
  padding: 0 5px;
  text-align: right;
}

main .alert .button-ctn .button {
  width: 120px;
  padding: 7px;
}

main .alert .heading { padding: 0; }

main .upper { text-transform: uppercase; }

main .congrats {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer { 
  display: inline-block;
  width: 100%;
  height: 12%;
  padding: 15px 8%;

  border-top: 2px solid var(--contrast);
  
  text-align: center;
  font-size: 0;
}

footer .button {
  width: 30%;
  height: 100%;
  
  padding: 0 10px;
  margin: 0 1.5%;
}

footer .finish-button { width: 60%; }

@media screen and (max-width: 800px) {
  main { padding: 0 10%; }
}

@media screen and (max-width: 600px) {
  header, footer { padding: 15px 4%; }
  
  header .progress-bar { width: calc(78% - 94px); }
  header .progress-count { width: 22%; }
  
  main { padding: 0 5%; }

  main .alert #alert-description { font-size: 20px; }
}