body { overflow-y: hidden; }

header { height: 12%; }

header .language-flag, header .progress-bar, header .progress-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 0 0.5%;
}

header .language-flag { width: 94px; }

header .language-flag svg {
  aspect-ratio: 41/33;
  width: 82px;
  height: 66px;
}

header .progress-bar {
  background: linear-gradient(165deg, var(--contrast), var(--light-cont));
  border: 1px solid var(--light-cont);
  
  width: calc(92% - 94px);
  height: 30px;
  padding: 3px;
  
  border-radius: 20px;
}

header .progress {
  display: block;
  background: var(--accent);
  z-index: -1;
  
  width: 0%;
  height: 100%;
  
  border-radius: 20px;
  transition: width 1000ms;
}

header .progress-count { 
  width: 5%;
  
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

main {
  display: inline-flex;
  align-items: center;

  width: 100%;
  height: 76%;

  padding: 0 25%;
}

main .section { 
  display: none;
  width: 100%;
}

main .section > * {
  margin: 1.5% 0;
  user-select: none;
}

main .section > *:first-child { margin: 0 0 1.5%; }
main .section > *:last-child  { margin: 1.5% 0 0; }

main .heading {
  font-size: 35px;
  font-weight: bold;
  color: var(--white);
}

main .heading .fa-solid { padding: 0 5px; }

main .section .div-border {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;

  min-height: 70px;
  height: auto;

  font-size: 20px;
  text-align: left;

  border: 3px solid var(--contrast);
  border-radius: 10px;
}

main .section .p-text {
  padding: 10px 0;
  
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: var(--white);
}

main .section .btn-container { text-align: center; }

main .section .btn-container .answer-btn, main .section .btn-container .answer-btn:hover {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;

  aspect-ratio: 2/1;
  width: 220px;
  margin: 0 0.5%;
}

main .section .btn-container .answer-btn:active {
  height: 105px;
  margin: 5px 0.5% 0;
}

main .section .btn-container .selected { border: 3px solid var(--light-cont); }

.button {
  display: inline-flex;
  vertical-align: bottom;
  
  justify-content: center;
  align-items: center;

  cursor: pointer;
  
  border: 3px solid var(--contrast);
  border-bottom: 8px solid var(--contrast);
  border-radius: 10px;
  
  text-align: center;
  
  color: var(--white);
  font-size: 20px;
}

.button:hover {
  border: 3px solid var(--accent);
  border-bottom: 8px solid var(--accent);
}

.button:active { border: 3px solid var(--accent); }

main .insert-buttons .button {
  aspect-ratio: 1/1;
  width: 50px;
  
  font-weight: bold;
}

main .alert {
  display: block;
  width: 100%;
  
  background: linear-gradient(165deg, var(--contrast), var(--light-cont));
  border-top: 5px solid var(--light-cont);
  
  position: absolute;
  left: 0;
  bottom: -250px;
  
  text-align: left;
  padding: 25px;
  
  font-size: 0;
  
  transition: bottom 350ms ease-in;
}

main .block { bottom: 0; }

main .alert .text, main .alert .button-ctn {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

main .alert .text { width: 70%; }
main .alert .button-ctn { 
  width: 30%;
  padding: 0 5px;
  text-align: right;
}

main .alert .button-ctn .button {
  width: 120px;
  padding: 7px;
}

main .alert .heading { padding: 0; }

main .upper { text-transform: uppercase; }

main .congrats {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer { 
  display: inline-block;
  width: 100%;
  height: 12%;
  padding: 15px 8%;

  border-top: 2px solid var(--contrast);
  
  text-align: center;
  font-size: 0;
}

footer .button {
  width: 30%;
  height: 100%;
  
  padding: 0 10px;
  margin: 0 1.5%;
}

footer .finish-button { width: 60%; }

@media screen and (max-width: 1000px) {
  main { padding: 0 10%; }

  main .section .btn-container .answer-btn {
    aspect-ratio: unset;
    width: 90%;
    height: 55px;
    margin: 5px 0;
  }
  
  main .section .btn-container .answer-btn:first-child { margin: 0 0 5px; }
  main .section .btn-container .answer-btn:last-child { margin: 5px 0; }

  main .section .btn-container .answer-btn:hover {
    width: 90%;
    height: 55px;
    margin: 5px 0;
  }
  main .section .btn-container .answer-btn:first-child:hover { margin: 1px 0 5px; }
  main .section .btn-container .answer-btn:last-child:hover { margin: 5px 0 1px; }

  main .section .btn-container .answer-btn:active {
    height: 50px;
    margin: 10px 0 5px;
  }
  main .section .btn-container .answer-btn:first-child:active { margin: 5px 0; }
  main .section .btn-container .answer-btn:last-child:active { margin: 10px 0 0; }

  .button { font-size: 16px; }
}

@media screen and (max-width: 600px) {
  header, footer { padding: 15px 4%; }

  header .language-flag, header .progress-bar, header .progress-count { margin: 0 1%; }
  
  header .progress-bar { width: calc(78% - 94px); }
  header .progress-count { width: 16%; }
  
  main { padding: 0 5%; }

  main .heading { font-size: 25px; }
  main .section .div-border { font-size: 16px; }
  main .section .p-text { font-size: 20px; }

  main .alert #alert-description { font-size: 20px; }
}